{% if vault_config.tls_disable == True %}
{% set proto="http" %}
listener "tcp" {
  address     = "{{ vault_config.client_addr }}:{{ vault_config.http_port }}"
  tls_disable = "{{ vault_config.tls_disable }}"
}
{% else %}
{% set proto="https" %}
listener "tcp" {
  address       = "{{ vault_config.client_addr }}:{{ vault_config.http_port }}"
  tls_cert_file = "{{ vault_home_directory }}/certs/{{ vault_config.tls_cert_file }}"
  tls_key_file  = "{{ vault_home_directory }}/certs/{{ vault_config.tls_key_file }}"
}
{% endif %}

{% if vault_config.storage == "raft" %}
storage "raft" {
  path = "{{ vault_data_directory }}/raft"
  node_id = "{{ ansible_hostname }}"

{% if vault_server_list %}
{% for server in vault_server_list %}
  retry_join {
    leader_api_addr = "{{ proto }}://{{ server }}:{{ vault_config.http_port }}"
  }
{% endfor %}
{% endif %}
}
{% elif vault_config.storage == "consul" %}
storage "consul" {
  address = "127.0.0.1:8500"
  path = "vault/"
}
{% else %}
storage "file" {
  path = "{{ vault_data_directory }}/data"
}
{% endif %}

{% if seal.type == "gcpkms" %}
seal "gcpckms" {
  project     = "{{ seal.project }}"
  region      = "{{ seal.region }}"
  key_ring    = "{{ seal.key_ring }}"
  crypto_key  = "{{ seal.crypto_key }}"
}
{% endif %}

disable_mlock    = "{{ vault_config.disable_mlock }}"
api_addr         = "{{ proto }}://{{ ansible_fqdn }}:{{ vault_config.http_port }}"
cluster_addr     = "{{ proto }}://{{ ansible_fqdn }}:{{ vault_config.api_port }}"
ui               = "{{ vault_config.ui }}"