{% if vault_cluster_name is defined %}
cluster_name = "{{ vault_cluster_name }}"
{% endif %}

listener "tcp" {
{% if (vault_tls_cert_file is defined or vault_tls_cert_string is defined) and (vault_tls_key_file is defined or vault_tls_key_string is defined) %}
{% set proto="https" %}
  address                  = "{{ vault_client_addr }}:{{ vault_api_port }}"
  tls_cert_file            = "{{ vault_tls_directory }}/vault.crt"
  tls_key_file             = "{{ vault_tls_directory }}/vault.key"
  tls_disable_client_certs = {{ vault_tls_disable_client_certs | lower }}
{% else %}
{% set proto="http" %}
  address     = "{{ vault_client_addr }}:{{ vault_api_port }}"
  tls_disable = true
{% endif %}
{% if vault_unauthenticated_metrics_access %}
  telemetry {
    unauthenticated_metrics_access = true
  }
{% endif %}
}

{% if vault_storage_backend == "integrated" %}
disable_mlock = true

storage "raft" {
  path    = "{{ vault_data_directory }}/data"
  node_id = "{{ ansible_fqdn }}"
{% if cloud.provider == "none" %}
{% for vault_server in groups[vault_ansible_group] %}
  retry_join {
    leader_api_addr         = "{{ proto }}://{{ hostvars[vault_server]['ansible_fqdn'] }}:{{ vault_api_port }}"
{% if proto == "https" %}
{% if vault_tls_ca_cert_file is defined or vault_tls_ca_cert_string is defined %}
    leader_ca_cert_file     = "{{ vault_tls_directory }}/ca.crt"
{% endif %}
{% if not vault_tls_disable_client_certs %}
    leader_client_cert_file = "{{ vault_tls_directory }}/vault.crt"
    leader_client_key_file  = "{{ vault_tls_directory }}/vault.key"
{% endif %}
    leader_tls_servername   = "{{ vault_leader_tls_servername | default(ansible_fqdn) }}"
{% endif %}
  }
{% endfor %}
{% else %}
  retry_join {
{% if cloud.provider == "gce" %}
    auto_join             = "provider=gce tag_value={{ cloud.gce_tag }}"
{% elif cloud.provider == "azure" %}
    auto_join             = "provider=azure subscription_id={{ cloud.azure_subscription_id }} resource_group={{ cloud.azure_resource_group }} vm_scale_set={{ cloud.azure_vm_scale_set }}"
{% elif cloud.provider == "aws" %}
    auto_join             = "provider=aws tag_key={{ cloud.aws_tag_key }} tag_value={{ cloud.aws_tag_value }}"
{% endif %}
    auto_join_scheme      = "https"
{% if vault_tls_ca_cert_file is defined or vault_tls_ca_cert_string is defined %}
    leader_ca_cert_file   = "{{ vault_tls_directory }}/ca.crt"
{% endif %}
    leader_tls_servername = "{{ vault_leader_tls_servername | default(ansible_fqdn) }}"
  }
{% endif %}
}
{% elif vault_storage_backend == "consul" %}
disable_mlock = false

storage "consul" {
  address = "127.0.0.1:{{ consul_http_port }}"
  scheme  = "{{ consul_scheme }}"
  path    = "{{ consul_vault_kv_path }}"
{% if consul_vault_acl_token is defined %}
  token   = "{{ consul_vault_acl_token }}"
{% endif %}
{% if consul_tls_cert_file is defined and consul_tls_key_file is defined %}
{% if consul_tls_ca_file is defined %}
  tls_ca_file     = "{{ consul_tls_directory }}/{{ consul_tls_ca_file | basename }}"
{% endif %}
  tls_cert_file   = "{{ consul_tls_directory }}/{{ consul_tls_cert_file | basename }}"
  tls_key_file    = "{{ consul_tls_directory }}/{{ consul_tls_key_file | basename }}"
  tls_skip_verify = "{{ consul_tls_skip_verify }}"
{% endif %}
}
{% else %}
storage "file" {
  path = "{{ vault_data_directory }}/data"
}
{% endif %}

seal "{{ vault_seal.type }}" {
{% for item in vault_seal if not item == "type" %}
  {{ item }} = "{{ vault_seal[item] }}"
{% endfor %}
}

 {% if vault_telemetry is defined %}
 telemetry {
 {% for item in vault_telemetry %}
 {% if (vault_telemetry[item] == True or vault_telemetry[item] == False) %}
   {{ item }} = {{ vault_telemetry[item] | bool | lower }}
 {% else %}
   {{ item }} = "{{ vault_telemetry[item] }}"
 {% endif %}
 {% endfor %}
 }
 {% endif %}

{% if vault_enable_plugins %}
plugin_directory = "{{ vault_plugin_directory }}"
{% endif %}

{% if vault_license_file is defined or vault_license_string is defined %}
license_path = "{{ vault_license_directory }}/vault.hclic"
{% endif %}

api_addr      = "{{ proto }}://{{ ansible_fqdn }}:{{ vault_api_port }}"
cluster_addr  = "{{ proto }}://{{ ansible_fqdn }}:{{ vault_cluster_port }}"
ui            = {{ vault_ui_enable | lower }}
