---
name: Molecule test
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v2

      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip3 install ansible molecule[docker] yamllint ansible-lint

      - name: Testing Vault with file storage on CentOS 8 without TLS
        run: molecule test -s centos8-file-notls

      - name: Testing Vault with integrated storage on Ubuntu 20.04 with TLS
        run: molecule test -s ubuntu2004-integrated-tls

      - name: Testing a Packer image build of Vault with integrated storage on Ubuntu 20.04
        run: molecule test -s ubuntu2004-integrated-packer